.Optimus-div{
    min-height: 100vh;
    border: 2px solid #d78;
}
.optimus-h2{
    border: 2px solid #54f;
    text-align: center;
    margin-top: 10px;
    color: #003876;
}

.follow-div{
    border: 3px dotted #5af;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .follow {
    height: 75vh;
    border: 2px solid #4fd;
    width: 100%;
    display: flex; /* Coloca las tarjetas en fila */
    flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente fila si no caben en una sola */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 30px;
  }









  /* From Uiverse.io by Rodrypaladin */ 
.card-follow {
    width: 400px;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 3px solid #6a6;
  }
  
  .card-follow::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    bottom: 15px;
    right: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: rotate(5deg);
    transition: all 0.1s ease-in;
  }
  
  .card-follow::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    bottom: 15px;
    left: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: rotate(-5deg);
    transition: all 0.1s ease-in;
  }
  
  .card-follow:hover:before, .card-follow:hover:after {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  }
  
  .card-follow:hover:before {
    transform: rotate(-8deg);
  }
  
  .card-follow:hover:after {
    transform: rotate(8deg);
  }
  
  .card__img-follow {
    /* position: relative; */
    /* background: #FFFFFF; */
    background: linear-gradient(315deg, #68aeff, #0032a6);
    width: 100%;
    height: 175px;
    border: 3px solid #fad;
    border-radius: 8px;
    
  }
  
  /* .card__span-follow {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    background-color: white;
    top: 10px;
    left: 10px;
    padding: 3px 7px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in;
    user-select: none;
  } */
  
  /* .card__span-follow:hover {
    transform: translateX(5px);
  } */
  
  .card-int-follow {
    padding: 20px 0 0 0;
  }
  
  .card-int__title-follow {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
  
  .card-int__button-follow {
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 5px 20px;
    width: 50%;
    background-color: rgb(238, 246, 255);
    border: none;
    color: black;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.1s ease-in;
    user-select: none;
  }
  
  .card-int__button-follow:active {
    box-shadow: 0px 0px 15px rgba(0, 119, 255, 0.5);
  }
  
  .card-int__button-follow:hover::before {
    animation: effect_two 0.4s 1;
  }
  
  .card-int__button-follow::before {
    content: 'More for this article';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgb(0,133,255);
    background: linear-gradient(146deg, #0032a6 0%, #68aeff 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-99%);
    z-index: 1;
    animation: effect_one 10s infinite;
  }
  
  .card-int__button-follow:hover::before {
    transform: translateX(0%);
  }
  
  .excerpt-follow {
    font-size: 18px;
  }
  
  @keyframes effect_one {
    0% {
      transform: translateX(-99%);
    }
  
    25% {
      transform: translateX(-90%);
    }
  
    50% {
      transform: translateX(-80%);
    }
  
    75% {
      transform: translateX(-95%);
    }
  
    100% {
      transform: translateX(-99%);
    }
  }
  
  @keyframes effect_two {
    to {
      transform: translateX(-1%);
    }
  
    from {
      transform: translateX(-99%);
    }
  }



/*Redes Sociales*/

.redes{
    border: 3px solid #54f;
    height: 150px;
}


.redes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid #4ca;
}

.redes-link {
    background-color: #003876; /* bg-[#003876] */
    /* padding: 0.05rem; p-3 */
    /* border-radius: 0.5rem; rounded-lg */
    transition: all 0.3s ease-in-out; /* transition-all duration-300 */
}

.redes-link:hover {
    background-color: #004899; /* hover:bg-[#004899] */
    transform: translateY(-0.25rem); /* hover:-translate-y-1 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}

/* Facebook Icon */
.facebook {
    width: 100%; /* w-6 */
    height: 100%; /* h-6 */
    color: #ffffff; /* text-white */
    transition: transform 0.3s ease-in-out; /* transition-transform */
    background-color: #0032a6;
}

.facebook:hover {
    transform: scale(1.1); /* group-hover:scale-110 */
}

/* Youtube Icon */
.youtube {
    width: 100%; /* w-6 */
    height: 100%; /* h-6 */
    color: #ffffff; /* text-white */
    transition: transform 0.3s ease-in-out; /* transition-transform */
}

.youtube:hover {
    transform: scale(1.1); /* group-hover:scale-110 */
}

/*Instagram Logo*/
.instagram{
    width: 100%; /* w-6 */
    height: 100%; /* h-6 */
    color: #ffffff; /* text-white */
    transition: transform 0.3s ease-in-out; /* transition-transform */
}

.instagram:hover{
    transform: scale(1.1); /* group-hover:scale-110 */

}

/*Linkedin Logo*/

.linkedin{
    width: 100%; /* w-6 */
    height: 100%; /* h-6 */
    color: #ffffff; /* text-white */
    transition: transform 0.3s ease-in-out; /* transition-transform */
}
.linkedin:hover{
    transform: scale(1.1); /* group-hover:scale-110 */

}
/*Twitter Logo*/
.twitter{
    width: 100%; /* w-6 */
    height: 100%; /* h-6 */
    color: #ffffff; /* text-white */
    transition: transform 0.3s ease-in-out; /* transition-transform */
}

.twitter:hover{
    transform: scale(1.1); /* group-hover:scale-110 */

}

/*Tiktok Logo*/

.tiktok{
    width: 100%; /* w-6 */
    height: 100%; /* h-6 */
    color: #ffffff; /* text-white */
    transition: transform 0.3s ease-in-out; /* transition-transform */
}

.tiktok:hover{
    transform: scale(1.1); /* group-hover:scale-110 */

}