.gran-div {
  min-height: 100vh;
  border: 2px solid #87d;
  background-color: #003567;
}

#gran-h2 {
  border: 2px solid #54f;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
}

.ingreso-div {
  border: 3px dotted #5af;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.ingreso {
  height: 55vh;
  border: 2px solid #4fd;
  width: 100%;
  display: flex; /* Coloca las tarjetas en fila */
  flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente fila si no caben en una sola */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 30px;
}

.mySwiper3 {
    
    /* border: 30px solid rgb(206, 109, 13); */
    height: 100%;
    width: 80vw;
  }
  
  /* .granPrueba {
    text-align: center;
    font-size: 18px;
    background: #fff;
  

    display: flex;
    justify-content: center;
    align-items: center;

    border: 20px solid #555;
    background-color: #412;
  } */
  
  .granPrueba  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }






  /* From Uiverse.io by Yaya12085 */ 
.magic-card {
    max-width: 310px;
    border-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
  }
  
  .magic-card a {
    text-decoration: none
  }
  
  .magic-content {
    padding: 1.1rem;
  }
  
  .magic-image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: #122C83;
    border-top-right-radius:0.5rem ;
    border-top-left-radius: 0.5rem ;
  }
  
.magic-p{
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5a5;
    height: 100%;

}

  .magic-title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    border: 2px solid #345;
  }

  .magic-title2{
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    border: 2px solid #345;
    height: 42px;
  }
  
  .magic-desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .magic-action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .magic-action span {
    transition: .3s ease;
  }
  
  .magic-action:hover span {
    transform: translateX(4px);
  }
  








  /* From Uiverse.io by cssbuttons-io */ 
button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 5px;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;


   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
    
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }